<a href="https://colab.research.google.com/github/Jyotijyoti1/JyotiJyoti1/blob/main/Basic_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [604]:
8*8*8*8*8

32768

In [605]:
#roots
8**(1/2)

2.8284271247461903

In [606]:
type(5)

int

In [607]:
first_name = "Jyoti "
last_name = "sharma"
Full_name = first_name+last_name

Full_name

'Jyoti sharma'

In [608]:
first_name = "Neha "

In [609]:

Full_name = first_name+last_name

Full_name

'Neha sharma'

In [610]:
del first_name

In [611]:
strn = "hello"
if type(strn) == int or type(strn) == float:
  print(strn+1)
else:
    print("not available")

not available

In [612]:
a=10

In [613]:
a//=2
a

5

In [614]:
inte = 50
if type(inte)==int or type(inte) == float:
  print(inte+1)
else:
    print("not supported")

51

In [615]:
print ("i am happy he\'s not happy")

i am happy he's not happy

In [616]:
#learn to use \r carriage return . create examples

In [617]:
first_name = "jyoti"
last_name = "jyot"
age =50
cls = "seven"
print("jyoti\rjyot\t50\nseven")

jyot	50
seven

In [618]:
for i in range(1,10000):
  print(i,end = "\r")

In [619]:
inte = [50,60,70,80]
for i in range(len(inte)):
  inte[i] +=1
inte

[51, 61, 71, 81]

In [620]:
len("hlo hi")

6

In [621]:
full_name = "jyoti sharma"

In [622]:
full_name.replace("jyoti"," shrma")

' shrma sharma'

In [623]:
full_name[4]

'i'

In [624]:
len(full_name)-8

4

In [625]:
full_name[1:8:2]

'yt h'

In [626]:
full_name[-3:-9:-2]

'rh '

In [627]:
#tuples are immutable in nature
t = (15,16,17)

In [628]:
type(t)

tuple

In [629]:
t =("one","two","three","one",[47,15,80],{"name":"jyoti"})

In [630]:
t[4].append(800)
t

('one', 'two', 'three', 'one', [47, 15, 80, 800], {'name': 'jyoti'})

In [631]:
t[5]["age"] =[15]
t

('one',
 'two',
 'three',
 'one',
 [47, 15, 80, 800],
 {'name': 'jyoti', 'age': [15]})

In [632]:
print(t.index('one'))
ind= t.index('one')
print(t[ind+1:].index('one'))

0
2

In [633]:
copy =list(t)
copy

['one',
 'two',
 'three',
 'one',
 [47, 15, 80, 800],
 {'name': 'jyoti', 'age': [15]}]

In [634]:
#sets are unique value it starts with{} and it's immutable

In [635]:
s = {"hi","hello"}
s1 = {"hi","lo","hello"}

In [636]:
#intersection prints common value in sets
s.intersection(s1)

{'hello', 'hi'}

In [637]:
##unions gives all unique values 
s.union(s1)

{'hello', 'hi', 'lo'}

In [638]:
s.difference(s1)

set()

In [639]:
s = {1,2,5,7}
s2 ={1,2,8,5,9}

In [640]:
s.intersection(s2)

{1, 2, 5}

In [641]:
x = set()

In [642]:
x.add(5)
x

{5}

In [643]:
x.add(5)
x

{5}

In [644]:
s.difference(s2)

{7}

In [645]:
s.union(s2)

{1, 2, 5, 7, 8, 9}

In [646]:
s.symmetric_difference(s2)

{7, 8, 9}

In [647]:
s.symmetric_difference_update(s2)

In [648]:
4*(6+5)

44

In [649]:
type(3+1.5+5)

float

In [650]:
#square root
num = 100
num**(1/2)

10.0

In [651]:
lst = [4,5,6,8,9,10,5]
lst[-4]

8

In [652]:
lst = [4,5,6,8,9,10,5]
lst[len(lst)//2]

8

In [653]:
# lst([int(-1*(len(lst)+1)/2])

In [654]:
#square root
100**(1/2)

10.0

In [655]:
10000%9

1

In [656]:
lst = [1,5,8,9,70,50,99]
lst[len(lst)//2]

9

In [657]:
st = "hi hello I am good"
st.startswith("i")

False

In [658]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [659]:
fst_name = "Jyoti "
last_name = "virmani"
full_name = fst_name+last_name

In [660]:
full_name.split()

['Jyoti', 'virmani']

In [661]:
fl_name =  "jyoti virmani"
full_name = fl_name.split()

In [662]:
fist_name = full_name[0]
last_name = full_name[1]
fist_name 
last_name

'virmani'

In [663]:
first_name.capitalize()

'Jyoti'

In [664]:
first_name.title()

'Jyoti'

In [665]:
first_name.isdigit()

False

In [666]:
first_name.isspace()

False

In [667]:
print("First_name is {} and last_name is {}".format(fst_name,last_name))

First_name is Jyoti  and last_name is virmani

In [668]:
num = 3
num2 = 2
sum = num+num2

print("Sum of num {} and {} is {}".format(num,num2,sum))

Sum of num 3 and 2 is 5

In [669]:
print(f"the sum of {num} and {num2} is {sum}")

the sum of 3 and 2 is 5

In [670]:
my_list = [1,2,3]
my_list[0] = 5
my_list

[5, 2, 3]

In [671]:
#because sstring is a immutable type and list is a mutable type
full_name[0] = ("neha v")

In [672]:
my_list.append(5)
my_list

[5, 2, 3, 5]

In [673]:
#frozenset 
xx = ({"apple","banana","apple"})
type(xx)
xx.add("orange")
xx

{'apple', 'banana', 'orange'}

In [674]:
help(frozenset)

Help on class frozenset in module builtins:

class frozenset(object)
 |  frozenset() -> empty frozenset object
 |  frozenset(iterable) -> frozenset object
 |
 |  Build an immutable unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [675]:
#bytes data type is immutable in nature. we only can assign (0-255 range of bytes) value .as we assign 256 to value it will show an error. Example below

In [676]:
l = [10,82,58,19]
b = bytes(l)
print(b)
for i in b:
  print(i)
type(l)

b'\nR:\x13'
10
82
58
19

list

In [677]:
#I can't change any VALUE OF BYTES because it is immutable in nature. example below

In [678]:
# b[0] = 15
# b

In [679]:
#bytearray is an mutable data type other than that bytes and bytesarray are same. range is 0 - 255 only

In [680]:
lst = [10,82,58,19]
b = bytearray(lst)
print(b)
for i in lst:
  print(i)
type(b)

bytearray(b'\nR:\x13')
10
82
58
19

bytearray

In [681]:
b[0] = 86

In [682]:
b[0:1:2]

bytearray(b'V')

In [683]:
#boolean is a data type which shows whether it is true or false.

In [684]:
#memoryview data type. memoryview is a class not a function.

In [685]:
li = [15,19,18,38]
b = bytes(li)
memoryview(b)

In [686]:
a = b"hi hello"
type(a)
memoryview(a)
type(memoryview(a))
bi = memoryview(a)
bi

In [687]:
## float no. #NOTE (Float can also be scientific numbers with an "e" to indicate the power of 10) 10 ki power 8 = 100000000
x = 35e100
x

3.5e+101

In [688]:
xx = 35e1
xx

350.0

In [689]:
x = 35e3
y = 12E4
x,y

(35000.0, 120000.0)

In [690]:
##complex numbers
x = 3+5j
y = 5j
z = -5j
cc = x*y+z
cc

(-25+10j)

In [691]:
## we can convert types. For example int to float and float to complex and vice versa.. You cannot convert complex numbers into another number type.
x = 6
xx = float(x)
xx

6.0

In [692]:
y = 15.9
yy = int(y)
yy

15

In [693]:
#  ##You cannot convert complex numbers into another number type. it will show an error
# z = 3+5j
# zz = float(z)
# z/z

In [694]:
#Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:
import random

print(random.randrange(1,10000))

7027

In [695]:
##random.seed will hep us to lock the values of randm numbers.

random.seed(10)
print(random.random())

0.5714025946899135

In [696]:
b = [1,2,3,4]
h = len(b)
h

4

In [697]:
print(len(b))

4

In [698]:
h = b.append(5)
print(b)

[1, 2, 3, 4, 5]

In [699]:
lst = ["bananas","apple","orange"]
h = lst.append("cherry")
print(lst)

['bananas', 'apple', 'orange', 'cherry']

In [700]:
lst = ["bananas","apple","orange"]
h = lst.copy()
print(h)

['bananas', 'apple', 'orange']

In [701]:
lst = ["bananas","apple","orange"]
lst.count("banana")

0

In [702]:
lst = ["bananas","apple","orange"]
lst2 = ["apple","redcherry","strawberry"]
h = lst.extend(lst2)
lst

['bananas', 'apple', 'orange', 'apple', 'redcherry', 'strawberry']

In [703]:
#index : 	Returns the index of the first element with the specified value

In [704]:
lst = ["bananas","apple","orange"]
h = lst[1]
h

'apple'

In [705]:
#insert can take only 2 arguements not 3 or 4
lst = ["bananas","apple","orange"]
h = lst.insert(2,"berry")
lst

['bananas', 'apple', 'berry', 'orange']

In [706]:
lst = ["bananas","apple","orange"]
h = lst.pop(2)
lst

['bananas', 'apple']

In [707]:
lst = ["bananas","apple","orange"]
h = lst.remove("apple")
lst

['bananas', 'orange']

In [708]:
lst = ["bananas","apple","orange"]
h = lst.reverse()
lst

['orange', 'apple', 'bananas']

In [709]:
#sort method will give you the result according to alphabet
lst = ["bananas","apple","orange"]
h = lst.sort()
lst

['apple', 'bananas', 'orange']

In [710]:
#the list constructer that is double brackets (())

In [711]:
# note if i do not write list then it will be shown me the type tuple and if i write list then it ll show me a list
lst = list(("bananas","apple","orange"))
print(type(lst))

<class 'list'>

In [712]:
#change a range of item values

In [713]:
lst = ["bananas","apple","orange"]
lst[1:3] = ["black current","cherry"]
lst

['bananas', 'black current', 'cherry']

In [714]:
#list comprehension(for making a less program)

In [715]:
lst1 =["bananas","apple","orange"]
for i in lst1:
  if "bananas" in lst1:
    print(True)
  else:
    print(False)

True
True
True

In [716]:
lst2 = ["bananas","apple","orange","berry"]


newlist = [i for i in lst2 if "b" in i ]
print(newlist)

['bananas', 'berry']

In [717]:
## tuple

In [718]:
ti = ("apple","banana","cherry")
print(len(ti))

3

In [719]:
##tuple constructors

In [720]:
tii = (("hiren","jay","jason"))
print(type(tii))

<class 'tuple'>

In [721]:
##access tuple(we can use indexing)

In [722]:
tii = (("hiren","jay","jason"))
tii[-1]

'jason'

In [723]:
tii = (("hiren","jay","jason"))
if "jasonn" in tii:
  print("it's in the list")
else:
    print("lost")

lost

In [724]:
# note we can not make any changes in tuple but we can still make changes (if we change tuple into list first nad change into list and after modifying change into tuple) xample below:

In [725]:
tii = ("hiren","jay","jason")
x = list(tii)
x[1] ="vivo"
x.append("Hinu")
x.sort()

x
tii = tuple(x)
tii

('Hinu', 'hiren', 'jason', 'vivo')

In [726]:
##unpacking a tuple/

In [727]:
tii = ("hiren","jay","jason")
student1,student2,student3 = tii

print(student1)
print(student2)
print(student3)

hiren
jay
jason

In [728]:
#using astrisk *
tii1 = ("hiren","jay","jason","jaymar","christien")
(student2,student3,*student4)= tii1

print(student2)
print(student3)
print(student4)

hiren
jay
['jason', 'jaymar', 'christien']

In [729]:
tii1 = ("hiren","jay","jason","jaymar","christien")
tii2 = list(tii1)
tii2
tii2.append("hema")
tii2
tii1 = tuple(tii2)
tii1

('hiren', 'jay', 'jason', 'jaymar', 'christien', 'hema')

In [730]:
tii1 = ('hiren', 'jay', 'jason', 'jaymar', 'christien', 'hema')
(st1,st2,st3,st4,st5,st6) = tii1

print(st1)
print(st2)
print(st3)
print(st4)
print(st5)
print(st6)

hiren
jay
jason
jaymar
christien
hema

In [731]:
#i can multiply the tuples easily
tii1 = ('hiren', 'jay', 'jason', 'jaymar', 'christien', 'hema')
brk = tii1*3
brk

('hiren',
 'jay',
 'jason',
 'jaymar',
 'christien',
 'hema',
 'hiren',
 'jay',
 'jason',
 'jaymar',
 'christien',
 'hema',
 'hiren',
 'jay',
 'jason',
 'jaymar',
 'christien',
 'hema')

In [732]:
brk.count("hiren")
brk.index("jay")

1

In [733]:
brk2 = tii1[-5:-2]
brk2

('jay', 'jason', 'jaymar')

In [734]:
##{} curly brackets we use for creating dict and sets but there is a difference b/w them . dic gets key and value pair and sets gets only value

In [735]:
s1 = {"neeru","gautam","garima","neeru"}
s1

{'garima', 'gautam', 'neeru'}

In [736]:
s1 = {"neeru","gautam","garima","neeru"}
print(len(s1))

3

In [737]:
s1 = {"neeru","gautam","garima","neeru"}
print("neera" in s1)

False

In [738]:
s1 = {"neeru","gautam","garima","neeru"}
s2 = {"himani","heera"}
s1.update(s2)
s1

{'garima', 'gautam', 'heera', 'himani', 'neeru'}

In [739]:
s1 = {"neeru","gautam","garima","neeru"}
s1.remove("neeru")
s1

{'garima', 'gautam'}

In [740]:
s1 = {"neeru","gautam","garima","neeru"}
s1.pop()
s1

{'garima', 'gautam'}

In [741]:
# union and update both are working differently.(union add another variable for  2 sets and update add both sets in anyone given variable)

In [742]:
s1 = {"neeru","gautam","garima","neeru"}
s2 = {"himani","heera"}
s3 = s1.union(s2)
s3

{'garima', 'gautam', 'heera', 'himani', 'neeru'}

In [743]:
## dictionary : keys and values pair

In [744]:
d1 = {"Name":"Jyoti","Age":18,"Address":"255 Toronto","Phone No":23454745}
d2 = {"Name":"Jojo","Age":23,"Address":"250 Tronto","Phone No":2154545}

In [745]:
print(type(d1))

<class 'dict'>

In [746]:
print(d2["Age"])

23

In [747]:
d1["Name"] = "Jolit"

In [748]:
# del d1["Jyoti"]

In [749]:
##pop will delete the whole dictionary
d1.popitem()

('Phone No', 23454745)

In [750]:
d1

{'Name': 'Jolit', 'Age': 18, 'Address': '255 Toronto'}

In [751]:
d1["Phone No"] = 154446

In [752]:
d1["Phone No"] = {"Home": 23454745 ,"Work" :45465454}

In [753]:
d1["Email id"] = {"Jyti@gmail.com"}

In [754]:
d1

{'Name': 'Jolit',
 'Age': 18,
 'Address': '255 Toronto',
 'Phone No': {'Home': 23454745, 'Work': 45465454},
 'Email id': {'Jyti@gmail.com'}}

In [755]:
Dic = {"Name": "Nehu","Address":"151 Etobck","Phone No":556565656}
Dic1 = {"Name":"Lop","Adderess":"555 Pay","Phone No": 45455612}

In [756]:
Dic["Phone No"] = 454545
Dic

{'Name': 'Nehu', 'Address': '151 Etobck', 'Phone No': 454545}

In [757]:
Dic["Phone No"] = {"Home":555656,"Work":454545}
Dic

{'Name': 'Nehu',
 'Address': '151 Etobck',
 'Phone No': {'Home': 555656, 'Work': 454545}}

In [758]:
Dic["Email Address"] = "Jyoti.com"
Dic

{'Name': 'Nehu',
 'Address': '151 Etobck',
 'Phone No': {'Home': 555656, 'Work': 454545},
 'Email Address': 'Jyoti.com'}

In [759]:
Dic["Phone No"]

{'Home': 555656, 'Work': 454545}

In [760]:
x = Dic["Phone No"]
x

{'Home': 555656, 'Work': 454545}

In [761]:
x1 = Dic.values()
print(x1) # before any changes
Dic["2nd Address"] = "5454 hh hjdhj"
Dic

dict_values(['Nehu', '151 Etobck', {'Home': 555656, 'Work': 454545}, 'Jyoti.com'])

{'Name': 'Nehu',
 'Address': '151 Etobck',
 'Phone No': {'Home': 555656, 'Work': 454545},
 'Email Address': 'Jyoti.com',
 '2nd Address': '5454 hh hjdhj'}

In [762]:
for a in Dic.items():
  print(a)

('Name', 'Nehu')
('Address', '151 Etobck')
('Phone No', {'Home': 555656, 'Work': 454545})
('Email Address', 'Jyoti.com')
('2nd Address', '5454 hh hjdhj')

In [763]:
Dic2 = Dic.copy()
Dic2

{'Name': 'Nehu',
 'Address': '151 Etobck',
 'Phone No': {'Home': 555656, 'Work': 454545},
 'Email Address': 'Jyoti.com',
 '2nd Address': '5454 hh hjdhj'}

In [764]:
##we can copy by using dict word As well.
Dic3 = dict(Dic)
Dic3

{'Name': 'Nehu',
 'Address': '151 Etobck',
 'Phone No': {'Home': 555656, 'Work': 454545},
 'Email Address': 'Jyoti.com',
 '2nd Address': '5454 hh hjdhj'}

In [765]:
#nested dictionary
Students_Names = {"Student1":{"Name":"Yash",
                              "Class":"4",
                              "Phone no":"4544545"},
               "Student2":{"Name":"Sourish",
                            "Class":"4",
                            "Phone no":"44454545"},
                "Student3":{"Name":"Ram",
                 "Class":"4",
                "Phone no":"545454"}}

In [766]:
Student1={"Name":"Yash",
            "Class":"4",
            "Phone no":"4544545"},
Student2={"Name":"Sourish",
           "Class":"4",
           "Phone no":"44454545"},
Student3 = {"Name":"Ram",
           "Class":"4",
           "Phone no":"545454"}

In [767]:
Students_Names = {
"Student1":Student1,
"Student2":Student2,
"Student3":Student3
}

In [768]:
Students_Names

{'Student1': ({'Name': 'Yash', 'Class': '4', 'Phone no': '4544545'},),
 'Student2': ({'Name': 'Sourish', 'Class': '4', 'Phone no': '44454545'},),
 'Student3': {'Name': 'Ram', 'Class': '4', 'Phone no': '545454'}}

In [769]:
##IF #ELIF AND ELSE COMMAND

In [770]:
name = "JYOTI"
age = 28
classs = 12
if age > 28:
  print("get an admisssion")
elif age == 28:
    print("90% chances")
else:
      print("no entry")

90% chances

In [771]:
name = "Jyoti"
age = 30
classes1 = 12
if age ==30:print("accepted")

accepted

In [772]:
print("not accepted") if age > 30 else print("accepted")

accepted

In [773]:
name = "neha"
age = 63
if age > 35 and name == "neha":
  print("not accepted")

not accepted

In [774]:
name = "neha"
age = 63
if age > 35 or name == "jyoti":
  print("not accepted")

not accepted

In [775]:
name = "nitesh"
age = 26
if age <25:
 pass

In [776]:
ll = ["jyoti","neha","kapil","hiren"]
for i in ll:
  print(i)

jyoti
neha
kapil
hiren

In [779]:
# ll = ["jyoti","neha","kapil","hiren"]
# while i in ll:
#   print(i+"virmani")

In [780]:
ll1 = [50]
while i in ll1<10:
  print(i)

In [781]:
l = ["jyoti","neha","kapil","hiren"]
for i in l:
  if i == "neha":
    break
    print(i)

In [ ]:
i

In [782]:
l = ["jyoti","neha","kapil","hiren"]
for i in l:
  print(i)
  if i == "kapil":
    break

jyoti
neha
kapil

In [783]:
num = input("Enter the number :" )
gg = 2*int(num)
print(gg)

Enter the number :5
10

In [784]:
name = "Jannie"
clas = 2
age = 15
print("his name is {} and he is {} years old and he is in {} class".format(name,age,clas))

his name is Jannie and he is 15 years old and he is in 2 class